@media only screen and (min-width: 1024px) {
    
    .large-3 {width: 33%;}
    
  
    nav ul {margin-left: 2vw;}
    nav li {width:auto; margin-right: .8rem;}
    nav a {padding: .1rem ;}

    .side-nav ul {margin-right: 5vw;}
    .side-nav li {width:auto; margin-right: .5rem;}
    .side-nav a {padding: .1rem ;}

    
    
    
    
} /* end of media query */